#CMembers{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: #8cd7c0;
}
#CMembers h1{
    margin-bottom: 1.5rem;
    text-align: start;
    margin: 2rem;
    color: #296040;
}
#CMembers .card{
    color: #FFF;
    margin: 0.5rem;
}
#CMembers .card-body{
    background: #053027;
}
#CMembers .card-title{
    color: #fe8c05;
    margin-bottom: 1.3rem;
}
#CMembers .card-text{
    color: #8cd7c0;
    font-weight: 500;
    margin-top: 1.3rem;
}
#CMembers ul li{
    background: transparent;
    color: #fe8c05;
    border-bottom: 1px solid #8cd7c0;
}
#CMembers #cb{
    margin-top: 1.3rem;
}
#CMembers #cb a{
    text-decoration: none;
    border: 1px solid #8cd7c0;
    background: transparent;
    color: #8cd7c0;
    padding: 3px 15px;
    border-radius: 50px;
    transition: .7s;
    font-size: 1.3rem;
    font-weight: 500;
}
#CMembers .card-body a:hover{
    text-decoration: none;
    border: 1px solid #8cd7c0;
    background: #8cd7c0;
    color: #fe8c05;
    transition: .7s;
}